@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@theme {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.9%;
}

body {
  font-family:
    "DM Sans",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;

  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@layer utilities {
  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}
